.About__ProfilePic {
  padding-top: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.About {
  background-color: rgb(32, 179, 76);
}

.col > ul {
  list-style-type: none;
  padding: 0;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}