@font-face {
  font-family: arcadeFont;
  src: url(../../fonts/VCR_OSD_MONO_1.001.ttf);
}

.Header {
  background-color: #212020;
}
.Header__Content {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
}
