@font-face {
  font-family: arcadeFont;
  src: url(../../fonts/VCR_OSD_MONO_1.001.ttf);
}

.navbar ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.left-buttons {
  float: left;
}

.navbar li a {
  display: block;
  color: rgb(32, 179, 76);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arcadeFont, Charcoal, sans-serif;
}

.navbar li a:hover {
  color: rgb(70, 238, 126);
}

.Header__Content {
  color: white;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
}

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .scrolldown a:hover {
  color: #0762f9;
}

.right-buttons {
  float: right;
}
