.hs {
  height: 20vh;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
.happy-birthday h1 {
    font-size: calc(0.75em + 1vmin);
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.happy-birthday {
    vertical-align: middle;
}

.itinerary {
    width: 100%;
}